<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block body %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
  <input type="text" name="name" placeholder="Enter The Name"><br>
  <input type="text" name="desc" placeholder="Description"><br>
  <input type="text" name="year" placeholder="Releasin Year"><br>
  <input type="file" name="img"><br>
  <input type="submit"><br>
 </form>
{% endblock %}
</body>
</html>